body {
  color: #93979e;
  background-color: #26282d;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  /* color: #ebcb8b; */
}

strong {
  color: #fff;
}

a:link, a:visited {
  /* color: #93979e; */
  color: #fff;
}

a:hover, a:visited:hover {
  /* color: #ebcb8b; */
  color: #fff;
}
