body {
  font-family: "Computer Modern Serif", serif;
  /* font-size: 1.1rem; */
}

.main {
  max-width: 650px;
  margin: 50px auto 50px;
}

h1, h2, h3, h4, h5, h6 {
}

code, pre, kbd {
  font-family: "Computer Modern Typewriter", monospace;
}

pre {
  padding: 1.2rem
}

li {
  margin: 0.5rem 0;
}

a:link {
  text-decoration: none;
}

a:visited {
}
