body {
    font-family: consolas, monaco, courier, "courier new", monospace;
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
}
p.indent {
    margin-left: 3ch;
}
a {
    color: red;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:before {
    content: "[";
}
a:after {
    content: "]";
}
h1 {
    font-size: 250%;
    text-transform: uppercase;
}
h1:before {
    content: "# ";
}
h2:before {
    content: "## ";
}
table {
    display: table;
}
row {
    display: table-row;
}
cell {
    display: table-cell;
}
column {
    display: table-column;
}
